.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #f16357;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: #f16357;
  transform: translateY(-3px);
}
