.skills {
  /* margin: 90px 0; */
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 80px 250px;
}

.skills-title {
  position: relative;
  text-align: center;
}


.skills-title img {
  width: 50px;
  height: auto;
}

.skills-heading{
  font-size: 40px;
  font-weight: 600;
  padding: 0px 30px;
  position: relative;
  display: inline-block;
}

.skills-heading::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: #f16357;
  width: 0;
  border-radius: 2px;
  animation: lineGrow 3s ease forwards;
}

@keyframes lineGrow {
  0% { width: 0; }
  100% { width: 90px; }
}


/* Marquee container */
.skills-marquee {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

/* Moving track */
.skills-track {
  display: inline-flex;
  animation: scroll 15s linear infinite;
}

.skill-item {
  font-size: 16px;
  color: white;
  background: #f16357;
  padding: 10px 30px;
  margin: 0 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, #ff8c00, #ff5e00);
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
