* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(240deg, #392C2F 0%, #121E28 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
